* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #222;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 120px; /* altura do seu menu fixo */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.hero {
  background: #555;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #eee;
  padding: 20px;
  flex: 1 1 200px;
  border-radius: 8px;
}

footer.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Responsividade */
@media(max-width:768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #333;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
    flex-direction: column;
  }

  .nav.active {
    max-height: 300px;
  }

  .nav-list {
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
  }
}

#titulo{
  text-align: center;
   font-size: 30px;
   font-weight: 600;
}

  .palagrafo{
    text-align: justify;
    max-width: 600px;
    margin: auto;
  }

  .paragrafo{
text-align: justify;
    max-width: 600px;
    margin: auto;
  }
   
   
@media(max-width: 768px){

  .sobre{
    max-width: 320px;
  }

  .palagrafo{
    max-width: 230px;
  }
  .paragrafo{ 
    max-width: 230px;
  }

}
